/* Base */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

:root {
  --ff-base: "Roboto", sans-serif;
  --ff-heading: "Lora", serif;
  --clr-primary: #fa9f42;
  --clr-base: #868683;
  --clr-background: #f9f9f9;
  --clr-highlight: #fa9f42;
  --clr-selection: #fdd6af;
  --clr-dark: #242423;
  --clr-light: #fff;
  --transition: all 0.25s ease-in-out;
}

::selection {
  background: var(--clr-selection);
}

body {
  font-family: var(--ff-base);
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--clr-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;

  min-width: 50vw;
  min-height: 100vh;
  background: var(--clr-background);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.site-content {
  position: relative;
  z-index: 2;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: var(--clr-base);
  transition: var(--transition);
}

.link:hover,
.link:focus {
  color: var(--clr-primary);
}

/* END Base */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 700;
}

.heading {
  margin: 0;
  color: var(--clr-dark);
}

.heading--highlight {
  color: var(--clr-highlight);
}

.heading--large {
  font-size: 5.6rem;
}

.heading--medium {
  font-size: 2.2rem;
}

.heading--small {
  font-size: 1.8rem;
}

/* END Headings */

/* Buttons */
.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.4rem 2rem;
}

.button--outline {
  color: var(--clr-primary);
  border: 0.1rem solid var(--clr-primary);

  transition: var(--transition);
}

.button--outline:hover,
.button--outline:focus {
  color: var(--clr-light);
  background: var(--clr-primary);
}
/* END Buttons */

/* Home */
.home {
  margin-top: 3.2rem;
}

.home__inner {
  margin-bottom: 8rem;
}

.home__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin: 1.6rem 0 4.8rem 0;
  color: var(--clr-base);
}

.home__text p {
  margin: 0;
}

.home__text p:not(:last-child) {
  margin-bottom: 4rem;
}
/* END Home */

/* Social */
.social-media {
  margin: 2.4rem 0 4rem 0;
  padding: 0;
  list-style: none;
}

.social-media li {
  display: inline-block;
}

.social-media li:not(:last-child) {
  margin-right: 1.6rem;
}

.social-media__link {
  font-size: 1.6rem;
  color: var(--clr-base);

  transition: all 0.25s ease-in-out;
}

.social-media__link:hover,
.social-media__link:focus {
  color: var(--clr-primary);
}
/* END Social */

/* Email */
.email {
  margin-top: 0.8rem;
}
/* END Email */

/*--*/

/* Media Queries */
@media (min-width: 768px) {
  /* Headings */
  .heading--large {
    font-size: 7rem;
  }

  .heading--medium {
    font-size: 2.6rem;
  }

  .heading--small {
    font-size: 2rem;
  }

  /* END Headings */

  /* Buttons */
  .button {
    padding: 1.6rem 2.6rem;
  }
  /* END Buttons */

  /* Home */
  .home {
    margin-top: 5.6rem;
  }

  .home__inner {
    margin-bottom: 10.4rem;
  }

  .home__text {
    font-size: 1.8rem;
    line-height: 3.6rem;
    margin: 2.4rem 0 5.6rem 0;
  }
  /* END Home */

  /* Social */
  .social-media__link {
    font-size: 2rem;
  }
  /* END Social */
}
/* END Media Queries */
